* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

main {
   width: 100%;
   height: 100vh;
   text-align: center;
}

.container {
   width: 300px;
   margin: 8rem auto;
}

.container input,
.container button {
   width: 100%;
}

.container input {
   padding: 12px;
   margin-bottom: 1rem;
   font-size: 14px;
   font-weight: 700;
   background-color: rgb(221, 221, 221);
   border: none;
   outline: none;
}

.container input::placeholder {
   opacity: 0.5;
}

.container input::-webkit-inner-spin-button,
.container input::-webkit-outer-spin-button {
   display: none;
}

.container input.error {
   border: 1px solid red;
   outline: 1px solid red;
}

.container button {
   padding: 12px;
   margin-bottom: 1rem;
   font-size: 16px;
   background-color: rgb(7, 168, 7);
   border: none;
   color: #fff;
   font-weight: 700;
   text-transform: uppercase;
   cursor: pointer;
}

.error-message {
   display: none;
}

.error-message.active {
   padding: 8px;
   background-color: red;
   color: #fff;
   margin-bottom: 1rem;
   display: block;
}

.confirmation {
   padding: 8px;
   background-color: rgb(7, 168, 7);
   display: none;
}

.confirmation.active {
   display: block;
   color: #fff;
}
